@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
  --white: #eee;
  --lightgrey: #dfdfdf;
  --lightblue: #3abcc5;
  --darkblue: #309aa1;
  --darkerblue: #24767b;
  --red: #ee3450;
}

*{
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height:100vh;
  overflow: hidden;
  position: relative;
  background: var(--lightgrey);
}

header,footer{
  height: 10vh;
  color: var(--darkblue);
  background: var(--white);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  height: 85vh;
  padding: 1rem;
  display: flex;
}

.numbers{
  background: var(--white);
}

.numbers form{
  padding: 1rem;
}

.numbers input{
  margin-bottom: .5rem;
  padding: 0.25rem;
  width: 100%;
}

.numbers button{
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: var(--lightblue);
  color: var(--white);
  font-weight: 600;
  font-size: 1.15rem;
  cursor: pointer;
}

.numbers button:hover{
  background: var(--darkblue);
}

.numbers button:active{
  background: var(--darkerblue);
}

#resultBox{
  width: 100%;
  background: var(--lightblue);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#result{
  width: 300px;
  height: 200px;
  background: var(--white);
  color: var(--darkerblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
}

.error{
  position: absolute;
  top: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
}

.errorBox{
  width: 200px;
  height: 200px;
  background: var(--white);
  padding: 1rem;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close{
  padding: 0.5rem;
  cursor: pointer;
}

.close button{
  padding: 0.25rem;
  border: none;
  background: var(--lightblue);
  color: var(--white);
  cursor: pointer;
}

.close button:hover{
  background: var(--darkblue);
}
.errorMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.closed{
  display: none;
}

footer{
  height: 5vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

@media (max-width: 600px) {

  #title h1{
    font-size: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  #resultBox{
    height: 100%;
  }
}